body {
  background: black;
}
.App h1 {
  color: white;
}
table {
  width: 100%;
  padding: 25px 5%;
  border: solid 1px gray;
}

table thead tr th{
  border: solid 1px gray;
  background-color: gray;
  color: white;
}

table tbody tr td{
  border: solid 1px gray;
  background-color: black;
  color: white;

}
